@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "mainCategoryPage.cshtml";
    String caption = "All items";
    IHtmlString description = null;
    IEnumerable<IEnumerable<String>> content = new List<IEnumerable<String>>();
    IEnumerable<String> headers = new List<String>(new String[] { "Name", "Item class", "Symbol", "Base price", "Appearance" });
    var children = this.Model.Children();
}

@foreach (IPublishedContent itemClass in children)
{
    foreach (IPublishedContent item in itemClass.Children)
    {
        content = content.Append(
            new List<String>(new String[] {
                "<a href=\"" + item.Url + "\">" + item.Name + "</a>",
                "<a href=\"" + itemClass.Url + "\">" + itemClass.Name + "</a>",
                "<span class = \"letter\" style = \"color:#" + item.Value("symbolColor") + "\">" + itemClass.Value("symbol") + "</span>",
                item.Value<String>("basePrice"),
                item.Value<String>("appearance", fallback: Fallback.To(Fallback.Ancestors, Fallback.DefaultValue), defaultValue: "Random")
        }));
    }
}           

@Html.Partial("Table", new TableSettings(caption, description, content, headers, true))
