@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ItemCategory>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "archivePage.cshtml";
    String caption = Model.Name.ToString() + "s";
    IHtmlString description = Model.LongDescription;
    IEnumerable<IEnumerable<String>> content = new List<IEnumerable<String>>();
    IEnumerable<String> headers = new List<String>(new String[] { "Name", "Symbol", "Base price", "Appearance" });
    var children = this.Model.Children();
}

@foreach (IPublishedContent item in children)
{
    String symbol = item.Value<String>("symbol", fallback: Fallback.To(Fallback.Ancestors));
    String symbolColor = item.Value<String>("symbolColor", fallback: Fallback.To(Fallback.Ancestors));
    String appearance = item.Value<String>("appearance", fallback: Fallback.To(Fallback.Ancestors, Fallback.DefaultValue), defaultValue: "Random");
    String basePrice = item.Value<String>("basePrice");
    content = content.Append(
        new List<String>(new String[] {
            "<a href=\"" + item.Url + "\">" + item.Name + "</a>",
            "<span class = \"letter\" style = \"color:#" + symbolColor + "\">" + symbol + "</span>",
            basePrice,
            appearance
        }));
}


@Html.Partial("Table", new TableSettings(caption, description, content, headers, true))
