@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.MonsterClass>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "archivePage.cshtml";
    String caption = Model.Name;
    IHtmlString description = Model.LongDescription;
    IEnumerable<IEnumerable<String>> content = new List<IEnumerable<String>>();
    IEnumerable<String> headers = new List<String>(new String[] {"Name", "Appearance", "Difficulty", "Base level", "Attacks" });
    this.ViewData.Add("caption", caption);
    this.ViewData.Add("headers", headers);
    this.ViewData.Add("description", description);

    var children = this.Model.Children();

}

@foreach (IPublishedContent monster in children)
{
    content = content.Append(
        new List<String>(new String[] {
        "<a href=\"" + monster.Url + "\">" + monster.Name + "</a>",
        "<span class = \"letter\" style = \"color:#" + monster.Value("symbolColor") + "\">" + monster.Value("letter") + "</span>",
        monster.Value<String>("difficulty"),
        monster.Value<String>("baseLevel"),
        String.Join(", ", monster.Value<IEnumerable<String>>("attacks").ToArray())
        }));
}

@{ 
    ViewData.Add("content", content);
}

@Html.Partial("Table")