@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = null;
}

<div class="bottom-nav">
    <div class="bem-container">
        <div class="bem-container__border bem-container__border_size_m bem-container__border_style_bronze bottom-nav__border">
            <div class="bem-container__background bem-container__background_style_wood">
                <div class="bottom-nav__content">
                    <ul class="bottom-nav__socials-container">
                        <a class="link bottom-nav__link link__control i-bem" data-bem='{"link":{}}' role="link" tabindex="0">
                            <li class="bottom-nav__social icon-facebook" title="facebook.com/hyvanmielenpelit" data-toggle="tooltip"></li>
                        </a>
                        <a class="link bottom-nav__link link__control i-bem" data-bem='{"link":{}}' role="link" tabindex="0">
                            <li class="bottom-nav__social icon-sound-mind-games" title="hyvanmielenpelit.fi" data-toggle="tooltip"></li>
                        </a>
                        <a class="link bottom-nav__link link__control i-bem" data-bem='{"link":{}}' role="link" tabindex="0">
                            <li class="bottom-nav__social icon-github-square" title="github.com/hyvanmielenpelit" data-toggle="tooltip"></li>
                        </a>
                    </ul>
                    <div class="bottom-nav__row row">
                        <ul class="bottom-nav__column col-xs-12 col-md-4">
                            <strong class="bottom-nav__title link">about</strong>
                        </ul>
                        <ul class="bottom-nav__column col-xs-6 col-md-4">
                            <strong class="bottom-nav__title link">download</strong>
                        </ul>
                        <ul class="bottom-nav__column col-xs-6 col-md-4">
                            <strong class="bottom-nav__title link">information</strong>
                            <li class="bottom-nav__item link">items</li>
                            <li class="bottom-nav__item link">roles</li>
                            <li class="bottom-nav__item link">monsters</li>
                            <li class="bottom-nav__item link">spells</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
