@inherits Umbraco.Web.Mvc.UmbracoViewPage <ContentModels.DownloadPage>
@using ContentModels = Umbraco.Web.PublishedModels;
<div class="download-container">
    <div class="download-box">
        <h3 style="font-weight: bold;">@Model.Value("heading")</h3>
        <p>@Model.Value("description")</p>
        <a class="download-link" href="https://github.com/hyvanmielenpelit/GnollHack">
            <h1><span class="icon fa-download"></span>DOWNLOAD<span class="icon fa-download"></span></h1>
            <img src="/Media/myflkvuz/gnollhack-icon-v2-512.png" class="img-responsive download" style="display:inline" alt="gnollhack logo" width="350">
        </a>
        <h4>Version</h4>
        <p>@Model.Value("version") Released on: @Model.ReleaseDate</p>
        <p style="padding: 10px 0px 0px 0px;"><a href="https://www.facebook.com/gnollcampaign/"><img src="/img/FindUs-FB-RGB-BRC-Site-500.png" style="max-height: 33px;" /></a></p>
    </div>
</div>

