@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Core;
@using Umbraco.Core.Models;
@using Umbraco.Core.Services;
@using ContentModels = Umbraco.Web.PublishedModels;


<nav class="navbar navbar-inverse navbar-fixed-top container">
    @Html.Partial("NavBar", Model);
</nav>
