@inherits Umbraco.Web.Mvc.UmbracoViewPage<IEnumerable<TableColumn>>
@using Umbraco.Core.Models.PublishedContent
@using Umbraco.Web
@using Umbraco.Core
@using ClientDependency.Core
@using ClientDependency.Core.Mvc
@using Umbraco.Core.Composing
@using Umbraco.Core.IO
@using Umbraco.Web
@using Umbraco.Core.Configuration

@{
    int i = 0;
    String style;
    IEnumerable<TableColumn> columns = Model;
}

<div class="bem-table i-bem" data-bem='{"bem-table":{}}'>
    <div class="bem-container bem-container_width_fit-content">
        <div class="bem-container__border bem-container__border_size_m bem-container__border_style_scroll">
            <div class="bem-container__background bem-container__background_style_scroll">
                <div class="container-fluid">
                    <span class="input input_theme_search bem-table__search i-bem" data-bem='{"input":{},"bem-table__search":{}}'>
                        <span class="input__box">
                            <input class="input__control" placeholder="Search with name:">
                        </span>
                    </span>
                    <table class="bem-table__table table">
                        <thead class="bem-table__t-head i-bem" data-bem='{"bem-table__t-head":{}}'>
                            <tr class="checkbox-group checkbox-group_type_caret checkbox-group_layout_table-head control-group i-bem" data-bem='{"checkbox-group":{}}' role="group">
                                @foreach (TableColumn column in columns)
                                {
                                    @Header(column.ColumnHeader)
                                }
                            </tr>
                        </thead>
                        <tbody class="bem-table__body">
                            @foreach (TableColumn column in columns)
                            {
                            <tr class="bem-table__row i-bem" data-bem='{"bem-table__row":{}}'>
                                @foreach (IHtmlString cellContent in column.CellData)
                                {
                                    <td class="bem-table__cell">
                                        @cellContent
                                    </td>
                                }
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@helper Header(string text)
{
    <th class="bem-table__head i-bem" data-bem='{"bem-table__head":{}}' scope="col">
        <label class="checkbox checkbox_type_caret i-bem" data-bem='{"checkbox":{}}' title="@text">
            @text<span class="caret i-bem" data-bem='{"caret":{}}' role="checkbox" aria-checked="false"></span>
            <input class="checkbox__control" type="checkbox" autocomplete="off" value="max skill">
        </label>
    </th>
}
