/* Go crazy with your own styles here */
/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */

/* Fixes the issue of Google Fonts not displaying on Windows 7 using IE 10 or IE 11. */
body {
	-ms-font-feature-settings: normal;
}
.download{
    /*border: 10px solid transparent;*/
}
.download:hover{
    /*
    box-shadow: 0px 0px 40px rgba(0,0,0, .2);*/
    filter: drop-shadow(0px 0px 70px rgba(255, 234, 43, .9));
    /*border-color: #f1f1f1;*/
}
.download-container {
    /*padding: 30px 10px;*/
    border-bottom: 2px solid #222;
}

@media screen and (min-width: 768px) {
    .download-container {
        padding: 30px 10px;
        border-bottom: none;
    }

    .download-box {
        border: 2px solid #222;
		border-radius: 15px;
    }
}

.download-box {
    background-color: #ffe;
    padding: 20px;
    max-width: 720px;
    margin: 0 auto;
    border: 50px solid transparent;
    border-image: url(/media/clhdyisu/scroll_paper.png) 236 326 236 301 round;
    background-color: #efe4b3;
    background-clip: padding-box;
    overflow-x: auto;
}

/*.download-box p, .download-box h3, .download-box h4, .download-box a image{
    text-align: center;
}*/

.download-box{
    text-align: center;
}
h3{
    font-family: 'Rye', cursive;
}

#borderimg {
    border: 50px solid transparent;
    border-image: url(/media/clhdyisu/scroll_paper.png) 236 326 236 301 round;
    margin: auto;
    padding: 0;
    overflow-x: auto;
}

#content {
    width: 100%;
    background-color: #efe4b3;
    overflow-x: auto;
    padding: 10px;
    display: block !important;
}

#content h1 {
    text-align: center;
    font-size: 62px;
    font-family: 'Rye', cursive;
    color: black;
    margin: 0;
}

caption {
    font-size: 18px;
    font-family: 'Courgette', cursive;
    text-align: center;
    color: black;
}

thead th{
    cursor: pointer;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #d9cfa1;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top-color: black;
}

.table>thead>tr>th {
    border-bottom-color: black;
}

td{
    text-align: center;
}

thead tr th:not(:first-child) {
    text-align: center;
}

.table{
    margin: 0;
}

table {
    font-family: 'Berkshire Swash', cursive;
    /*font-family: 'Rye', cursive;*/
    font-size: 18px;
}

table a {
    color: #3e3f3a;
}

/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: hsla(0, 0%, 0%, 0.5);
    text-align: center;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: white;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.scrollContainer {
    display: flex;
    margin-left: -50px;
    width: calc(100% + 100px);
}

body {
    overflow-x: hidden;
    /*background-image: url(/media/efkedekd/cobblestone.jpg);*/
    /*background-image: url(/media/s31lw4bb/cobblestone3.png);*/
    background-image: url(/media/wxqhj3wx/brick-bg.jpg);
    /*background-image: url(/media/aveph3qm/cobblestone7.png);*/
}

/*#borderimg{
    min-width: 270px;
}*/

.letter {
    font-family: "Courier New","Menlo","DejaVu Sans Mono","Courier",monospace;
    font-weight: bold;
    font-size: large;
    background-color: black;
    padding: 1px;
}

#myInput {
    width: 0px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url(/media/zabiw3kh/searchicon.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 12px 5px 35px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.debug {
    float: right;
    position: absolute;
    right: 0;
    top: 120px;
    background: white;
}

#myInput:focus {
    width: 100%;
}

#collapseButton{
    float: left;
    position: absolute;
    left: 0;
    top: 120px;
}

.wrapper {
    background-image: url(/media/b5edze2t/gradient-wide-left.png), url(/media/tbogfdxi/gradient-wide-right.png);
    background-repeat: repeat-y;
    background-position: left top, right top;
}

tbody > tr :not(:last-child){
    border-right: 1px solid #000;
}

/*.collapse {
    display: block !important;
    width: 100% !important;
    background-color: #efe4b3 !important;
    overflow-x: auto !important;
    padding: 10px !important;
}*/