@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.SpellSchool>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
	var spells = Model.Children().Where(x => x.IsVisible()).OrderBy(x => x.Name);
    Random rnd = new Random();
}

<div id="borderimg1">
	<div id="content">
        <table class="table table-hover">
          <caption>@Model.Value("spellSchoolName") spells</caption>
          <thead class="thead-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Level</th>
              <th scope="col">Mana cost</th>
            </tr>
          </thead>
          <tbody>
            @foreach(IPublishedContent spell in spells){
            <tr>
              <th scope="row">@spell.Name</th>
              <td>@spell.Value("spellLevel")</td>
              <td>@(spell.Value("manaCost") == null ? rnd.Next(1, 13) : spell.Value("manaCost"))</td>
            </tr>
            }
          </tbody>
        </table>	
	</div>
</div>
