$brand-success: #93C54B;
a.navbar-brand {
  padding-top: 0;
  padding-bottom: 0; }
  @media (max-width: 992px) {
    a.navbar-brand {
      max-width: 75%;
      /* For those clients which do not understand calc */
      max-width: calc(100% - 59px); } }
  a.navbar-brand > img {
    height: 60px; }

@media (max-width: 992px) {
  div.navbar-centered {
    text-align: center; }
  ul.centered-menu > li {
    text-align: center; } }

@media (min-width: 993px) {
  .dropdown-right {
    left: auto;
    right: 0; } }

.handwriting, h1, h2, h3, div.light h1, div.light h2, div.dark h1, div.dark h2, div.none h1, div.none h2 {
  font-family: 'Rye', cursive; }

.sans-serif, h4, h5, h6 {
  font-family: 'Lato', sans-serif; }

h1 {
  font-size: 62px;
  margin-top: 28px;
  margin-bottom: 28px;
  color: #928300; }

h2 {
  font-size: 40px;
  color: #928300; }

h3 {
  font-size: 30px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 12px; }

img {
  max-width: 100%; }

div.light {
  color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 15px;
  margin-bottom: 0; }
  div.light h1 {
    text-align: center; }
  div.light h5 {
    font-size: 20px; }

div.dark {
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 15px;
  margin-bottom: 30px; }
  div.dark h1, div.dark h2, div.dark h3, div.dark h4, div.dark h5 {
    color: white; }
  div.dark h1 {
    text-align: center; }
  div.dark h5 {
    font-size: 20px; }
  div.dark a, div.dark a:visited {
    color: #f8df00; }
  div.dark a:hover, div.dark a:active {
    color: #ffea2c; }

div.none {
  color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 15px;
  margin-bottom: 0; }
  div.none h1 {
    text-align: center; }
  div.none h5 {
    font-size: 20px; }

footer.bottom-navigation {
  margin-top: 30px; }
  footer.bottom-navigation ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 3px; }
    footer.bottom-navigation ul > li {
      padding: 2px 0; }

.blogarchive .panel > .panel-heading > h3, .blogarchive .panel > .panel-heading h4, .blogarchive .panel > .panel-heading h5, .trainingarchive .panel > .panel-heading > h3, .trainingarchive .panel > .panel-heading h4, .trainingarchive .panel > .panel-heading h5, .library .panel > .panel-heading > h3, .library .panel > .panel-heading h4, .library .panel > .panel-heading h5 {
  margin: 0 0 5px 0;
  text-transform: none;
  background-color: transparent; }

.trainingarchive .panel > .panel-heading > img {
  height: 32px;
  float: left;
  margin-right: 16px; }

.trainingarchive .panel > .panel-heading > h3 {
  margin-bottom: 0; }

.trainingimage-big {
  height: 64px; }

.library img.book {
  float: left;
  margin-right: 15px;
  margin-bottom: 10px; }

div.small-book > div.panel-heading > h4, div.small-book > div.panel-heading h5 {
  font-size: 12px;
  margin-bottom: 0 !important; }

div.small-book > div.panel-body {
  font-size: 12px; }
  div.small-book > div.panel-body img {
    height: 75px; }

.full {
  margin: 0;
  padding: 0 !important;
  overflow: hidden; }
  .full div {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 0; }
  .full .wide {
    width: 100%;
    height: auto; }

.newsarea .year-separator {
  margin-top: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid #928300; }

.newsarea .year-separator:first-child {
  margin-top: 0px; }

.newsarea article {
  margin-bottom: 20px; }
  .newsarea article div.newsdate {
    padding-top: 4px;
    margin-bottom: 2px; }
  .newsarea article h4 {
    margin-top: 0;
    margin-bottom: 8px;
    border: 0; }
  .newsarea article img {
    float: left;
    margin-right: 15px;
    margin-bottom: 10px; }
  .newsarea article .readmore {
    margin-top: 6px; }

.newsitem-date {
  text-align: center;
  font-family: 'Lato', sans-serif;
  margin-top: 20px; }

.news-intro {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 15px; }
  @media (min-width: 992px) {
    .news-intro {
      padding-left: 20%;
      padding-right: 20%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .news-intro {
      padding-left: 10%;
      padding-right: 10%; } }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  /*padding-top: 25px;*/
  height: 0; }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

ins {
  display: block; }

.img-sm-b-margin {
  display: inline-block;
  margin-bottom: 10px; }

.projectarea article {
  margin-bottom: 15px; }
  .projectarea article h2 {
    margin-top: 10px; }
  .projectarea article img {
    margin-top: 20px; }
  .projectarea article .readmore {
    margin-top: 6px; }

.projectarea hr {
  width: 94%;
  margin: 25px 3%;
  color: #dec800;
  border-color: #dec800;
  height: 2px; }

.follow-us {
  margin-top: 15px;
  text-align: center; }
  .follow-us .follow-us-header {
    margin-bottom: 15px; }
  .follow-us .follow-us-item {
    display: inline-block;
    text-align: left; }
    .follow-us .follow-us-item a.follow-us-image-link {
      display: inline-block;
      margin-right: 14px;
      float: left; }
      .follow-us .follow-us-item a.follow-us-image-link > img {
        height: 52px; }
    .follow-us .follow-us-item .follow-us-text {
      display: inline-block;
      margin-top: 0px;
      font-size: 24px; }

.video-collection > article {
  margin-bottom: 20px; }
  .video-collection > article img.video-preview {
    margin-top: 24px; }

.authors > .container {
  border: #dec800 1px solid;
  margin-top: 25px;
  padding-top: 0px;
  border-bottom: #dec800 1px solid;
  margin-bottom: 10px;
  padding-bottom: 10px;
  background-color: #fff9c5;
  /*background-color: #f6f6f6;*/
  box-shadow: 5px 5px 5px #888888; }
  .authors > .container article {
    text-align: left;
    display: inline-block;
    width: 27%;
    min-width: 250px;
    margin: 0 3%;
    vertical-align: top; }
    .authors > .container article > h3 {
      margin-top: 0px;
      padding-top: 0px; }
    .authors > .container article > img {
      float: left;
      margin-right: 15px;
      margin-bottom: 10px; }
